---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Archivo Narrow', 'Avenir Next Condensed', 'Arial Narrow', sans-serif;
$base-font-size:   100%;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #23110d;
$background-color: #ece010;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: $text-color;

  &:focus,
  &:hover {

  }
  &:active {

  }
}
html,
body {
  margin: 0;
  padding: 0;
}
html {
  background: $background-color;
  color: $text-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}
header[role='banner'],
main,
footer[role='contentinfo'] {
  margin-right: auto;
  margin-left: auto;
  width: 91%;
}

@import '_lyric';
@import '_site-footer';
@import '_site-header';
@import '_song';
