<article class="hentry">
  <div class="entry-content">
    <blockquote class="lyric">
      <p>{{ lyric.title }}</p>
    </blockquote>
  </div><!-- .entry-content -->
  <footer>
    <div class="song">
      <span class="song__track-number"><span>#</span>{{ song.trackNumber }}</span>
      <span class="song__length">{{ song.length }}</span>
      <h2 class="song__title">{{ song.title }}</h2>
      <div ng-if="song.featuring" class="song__featuring"><abbr title="Featuring">Feat.</abbr> {{ song.featuring }}</div>
    </div>
    <a href="#/lyrics/{{ lyric.id }}" title="Permalink" rel="bookmark">&infin;</a>
  </footer>
</article>
<a ng-click="newLyric()">Another one!</a>