<header class="site-header" role="banner">
  <div class="wrapper">
    <h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>

    <nav ng-controller="NavCtrl" role="navigation">
      <ul>
        <li><a href="#/" title="Home" rel="home" ng-class="{active: isActive('/')}">Home</a></li>
        <li><a href="#/lyrics" title="All Lyrics" ng-class="{active: isActive('/lyrics.*')}">All Lyrics</a></li>
        <li><a href="#/songs" title="All Songs" ng-class="{active: isActive('/songs.*')}">All Songs</a></li>
      </ul>
    </nav>
  </div><!-- .wrapper -->
</header><!-- .site-header -->
