// site-header.scss

.site-header {
  text-align: center;

  @media (min-width: $on-palm) {
    text-align: left;
  }

  .home-link {
    display: block;
    text-decoration: none;
    padding: .25em 0;

    @media (min-width: $on-palm) {
      float: left;
      padding: .25em 0;
    }
  }

  h1 {
    display: inline;
    font-size: 100%;
    font-weight: 700;
    line-height: inherit;
    margin: 0;
    text-transform: uppercase;
  }
  p {
    display: none;
    font-size: 100%;
    font-weight: 400;
    line-height: inherit;
    margin: 0;
    padding: .25em;
    opacity: .5;

    @media (min-width: $on-laptop) {
      display: inline;
    }
  }
}
