// _site-footer.scss

.site-footer {
  color: rgba($text-color, .5);
  padding: .25em 0;
  text-align: center;

  small {
    display: block;
    font-size: $small-font-size;
  }
  a {
    color: inherit;

    &:focus,
    &:hover,
    &:active {
      color: $text-color;
    }
  }

  @media (min-width: $on-palm) {
    text-align: right;
  }
}