// _songs-list.scss

.songs-list {
  @include clearfix;

  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: .5rem;

    @media (min-width: $on-palm) {
      float: left;
      margin-bottom: 1rem;
      padding-right: .5rem;
      padding-left: .5rem;
      width: 50%;

      &:nth-of-type(odd) {
        clear: left;
      }
    }
    @media (min-width: $on-laptop) {
      width: 33.33%;

      &:nth-of-type(odd) {
        clear: none;
      }
      &:nth-of-type(3n + 1) {
        clear: left;
      }
    }
  }
}